<div class="container-fluid">
	<div class="row text-center">
		<h2>Witaj na stronie serwisu TIRT</h2>
	</div>

	<div class="row" ng-hide="dataLoaded">
		<h3>Trwa ładowanie strony...</h3>
		<img ng-hide="dataLoaded" class="img-responsive"
			src="/pwr/resources/images/loading.gif" alt="Loading..." width="100"
			height="100">
	</div>
	
	<div class="row" ng-show="dataLoaded">
		<h3>Twoje żądanie:</h3>		
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Adres IP</th>
					<th>Accept Header</th>
					<th>Accept Encoding Header</th>
					<th>Accept Language Header</th>
					<th>Fingerprint ID</th>
					<th>HashCanvas Value</th>
					<th>Browser Name</th>
					<th>Platform</th>
					<th>Resolution</th>
					<th>Cookie Enabled</th>
					<th>Java Enabled</th>
					<th>Time Zone Offset</th>
					<th>User Agent</th>
					<th>Language</th>
					<th>Do Not Track</th>
					<th>Plugins</th>	
					<th>Matching value</th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{returnedTemplate.id}}</td>
					<td>{{returnedTemplate.ipAddress}}</td>
					<td>{{returnedTemplate.acceptHeader}}</td>
					<td>{{returnedTemplate.acceptEncodingHeader}}</td>
					<td>{{returnedTemplate.acceptLanguageHeader}}</td>
					<td>{{returnedTemplate.fingerPrintId}}</td>
					<td>{{returnedTemplate.hashCanvas}}</td>
					<td>{{returnedTemplate.browserName}}</td>
					<td>{{returnedTemplate.platform}}</td>
					<td>{{returnedTemplate.resolution}}</td>
					<td>{{returnedTemplate.cookieEnabled}}</td>
					<td>{{returnedTemplate.javaEnabled}}</td>
					<td>{{returnedTemplate.timeZoneOffset}}</td>
					<td>{{returnedTemplate.userAgent}}</td>
					<td>{{returnedTemplate.language}}</td>
					<td>{{returnedTemplate.doNotTrack}}</td>
					<td>{{returnedTemplate.plugins}}</td>	
					<td>{{returnedTemplate.matchingValue}}</td>					
				</tr>
			</tbody>
		</table>
		<h3>Wyniki identyfikacji:</h3>		
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>					
					<th>Id</th>
					<th>Adres IP</th>
					<th>Accept Header</th>
					<th>Accept Encoding Header</th>
					<th>Accept Language Header</th>
					<th>Fingerprint ID</th>
					<th>HashCanvas Value</th>
					<th>Browser Name</th>
					<th>Platform</th>
					<th>Resolution</th>
					<th>Cookie Enabled</th>
					<th>Java Enabled</th>
					<th>Time Zone Offset</th>
					<th>User Agent</th>
					<th>Language</th>
					<th>Do Not Track</th>
					<th>Plugins</th>					
					<th>Matching value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="returnedTemplates.length">
					<td colspan="18" class="text-center label-danger">Brak danych</td>
				</tr>
				<tr	ng-repeat="template in returnedTemplates | orderBy:['matchingValue', 'id']">		
					<td>{{template.id}}</td>						
					<td ng-style="returnFontSyle(returnedTemplate.ipAddress, template.ipAddress)">{{template.ipAddress}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.acceptHeader, template.acceptHeader)">{{template.acceptHeader}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.acceptEncodingHeader, template.acceptEncodingHeader)">{{template.acceptEncodingHeader}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.acceptLanguageHeader, template.acceptLanguageHeader)">{{template.acceptLanguageHeader}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.fingerPrintId, template.fingerPrintId)">{{template.fingerPrintId}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.hashCanvas, template.hashCanvas)">{{template.hashCanvas}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.browserName, template.browserName)">{{template.browserName}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.platform, template.platform)">{{template.platform}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.resolution, template.resolution)">{{template.resolution}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.cookieEnabled, template.cookieEnabled)">{{template.cookieEnabled}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.javaEnabled, template.javaEnabled)">{{template.javaEnabled}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.timeZoneOffset, template.timeZoneOffset)">{{template.timeZoneOffset}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.userAgent, template.userAgent)">{{template.userAgent}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.language, template.language)">{{template.language}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.doNotTrack, template.doNotTrack)">{{template.doNotTrack}}</td>
					<td ng-style="returnFontSyle(returnedTemplate.plugins, template.plugins)">{{template.plugins}}</td>							
					<td ng-style="returnFontSyle(returnedTemplate.matchingValue, template.matchingValue)">{{template.matchingValue}}</td>						
				</tr>
			</tbody>
		</table>		
	</div>
</div>